body{

margin:0;
font-family:Arial, Helvetica, sans-serif;
background:linear-gradient(135deg,#206500,#55c021);
height:100vh;
display:flex;
align-items:center;
justify-content:center;

}

.login-box{

background:white;
padding:40px;
border-radius:10px;
width:320px;
box-shadow:0 10px 25px rgba(0,0,0,0.2);
text-align:center;

}

.login-box h1{

margin-bottom:20px;

}

.login-box input{

width:100%;
padding:12px;
margin-bottom:15px;
border-radius:6px;
border:1px solid #ccc;

}

.login-box button{

width:100%;
padding:12px;
border:none;
background:#fc8901;
color:white;
font-weight:bold;
border-radius:6px;
cursor:pointer;

}

.login-box button:hover{

background:#aa6600;

}